In [1]:
import pandas as pd

data = {
    "instrument_idx": [0, 0, 1, 1, 2],
    "step": [0.1, 0.2, 0.3, 0.4, 0.5],
    "pitch": [60, 62, 64, 65, 67],
    "velocity": [100, 90, 80, 70, 60],
    "duration": [0.5, 0.6, 0.7, 0.8, 0.9]
}

In [3]:
data_frame = pd.DataFrame(data)

data_frame.describe()

       instrument_idx      step      pitch    velocity  duration
count         5.00000  5.000000   5.000000    5.000000  5.000000
mean          0.80000  0.300000  63.600000   80.000000  0.700000
std           0.83666  0.158114   2.701851   15.811388  0.158114
min           0.00000  0.100000  60.000000   60.000000  0.500000
25%           0.00000  0.200000  62.000000   70.000000  0.600000
50%           1.00000  0.300000  64.000000   80.000000  0.700000
75%           1.00000  0.400000  65.000000   90.000000  0.800000
max           2.00000  0.500000  67.000000  100.000000  0.900000

In [10]:
data_frame.iloc[0: 2].values.tolist()

[[0.0, 0.1, 60.0, 100.0, 0.5], [0.0, 0.2, 62.0, 90.0, 0.6]]